blinker==1.9.0
certifi==2024.12.14
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.0
idna==2.8
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.1
packaging==24.2
path==17.1.0
pluggy==1.5.0
prettytable==3.12.0
pytest==8.3.4
pytest-mock==3.14.0
python-dotenv==1.0.1
requests==2.21.0
scipy==1.15.1
sh==1.12.14
tabulate==0.8.2
tomli==2.2.1
urllib3==1.26.19
wcwidth==0.2.13
Werkzeug==3.1.3
