body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  border: 3px solid #3e74b3;
  color: #3e74b3;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 15px;
}
#content h1 {
  background-color: #3e74b3;
  color: white;
  margin: 0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#content input,
select {
  border: 1px solid #3e74b3;
  color: #3e74b3;
}

#content button {
  background-color: #3e74b3;
  color: white;
  border: none;
}

.inner * {
  border-radius: 3px;
  font-size: 15px;
}

.inner {
  padding: 10px;
  text-align: center;
}

#canvas {
  background-color: white;
  margin-top: 10px;
  width: 640px;
  height: 480px;
}

hr {
  border-color: #3e74b3;
}

.error {
  color: red;
  display: none;
}
