<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Climate Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="content">
      <h1>Climate Predictor</h1>
      <div class="inner">
        <select id="parameter-select">
          <option value="temperature_2m_max">High Temperature</option>
          <option value="temperature_2m_min">Low Temperature</option>
          <option value="apparent_temperature_max">Max Heat Index</option>
          <option value="apparent_temperature_min">Min Heat Index</option>
          <option value="precipitation_sum">Precipitation</option>
          <option value="rain_sum">Rainfall</option>
          <option value="snowfall_sum">Snowfall</option>
          <option value="windspeed_10m_max">Wind Speed</option>
        </select>
        in
        <input id="location-input" />
        <button id="go-button">Go!</button><br /><br />
        Start In: <input type="number" id="start-year-input" value="1940" />
        End In: <input type="number" id="end-year-input" value="2023" /><br /><br />
        Moving Average of <input type="number" id="moving-average-input" value="1" min="1" max="30" step="1" /> years <br />
        <div id="canvas" width="640" height="480"></div>
        <div id="results" style="display: none">
          <p>
            <span id="r-squared">0</span>% of the change in <span class="parameter"></span> in
            <span class="location"></span><br /> can be explained by the linear relationship with the year.
          </p>
          <p>
            The <span class="parameter"></span> is <span class="direction">increasing</span> by 
            <span id="change">0</span><span class="units">degrees</span> per year.
          </p>
          <p>
            This <span class="direction"></span> is <span id="significance"> with 95% confidence</span>.
          </p>
        </div>
        <p class="error">
          Your request could not be processed. Please check your inputs and try again.
        </p>
        <hr />
        <p>
          Data from <a href="https://open-meteo.com">Open-Meteo.com</a>, which
          uses data from the Copernicus Climate Change Service.
        </p>
        <p>
          Location search from
          <a href="https://geocode.maps.co">geocode.maps.co</a> which uses data
          from OpenStreetMap Nominatim.
        </p>
      <div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
